*.obj
*.pdb
.*lik
*.log
*.o
*.tmp
*.zip
*.7z
*.tar.gz

/Debug/
/Release/
/DBK_Tiny/x64/
/x64/
.vs/
/Cheat Engine/lib/x86_64-win64/
/Test_CE_COTROL_COCE_R3/x64/
/Cheat Engine/*.o
/lazarus/
/Cheat Engine/
/CE_WITH_QT/
/CheatEngine_With_Qt/x64/
/CheatEngine_With_Qt/build/